@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Space Grotesk", cursive;
	background-color: #0f1624;
}

.navbar {
	position: absolute;
	height: 85px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 45px;
}

.navbar p {
	color: white;
	font-size: 1.25rem;
	font-weight: 600;
}

.navbar p span {
	color: #7896d2;
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}

.navbar ul li {
	list-style: none;
}

.navbar ul li a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
	transition: 0.3s;
}

.navbar ul li a:hover {
	color: #7896d2;
}

.mobile-icon {
	display: none;
	cursor: pointer;
}

.mobile-icon > div {
	height: 2px;
	width: 25px;
	background-color: #ffffff;
	margin: 6px 0;
	transition: all 0.3s ease;
}

.mobile-icon.toggled > div:nth-child(1) {
	transform: rotate(-45deg) translate(-5.5px, 6px);
}

.mobile-icon.toggled > div:nth-child(2) {
	opacity: 0;
}

.mobile-icon.toggled > div:nth-child(3) {
	transform: rotate(45deg) translate(-5.5px, -6px);
}

.header {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 45px;
}

.header h1 {
	background: linear-gradient(121.57deg, #ffffff, rgba(255, 255, 255, 0.5));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 3rem;
	margin-bottom: 15px;
}

.header p {
	color: #aaaaaa;
	font-size: 1.125rem;
	font-weight: 300;
	max-width: 500px;
	margin-bottom: 35px;
}

.header a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 500;
	padding: 12px 32px;
	border-radius: 50px;
	background-color: #5981cf;
	background: linear-gradient(270deg, #13adc7, #945dd6);
}

.header img {
	max-width: 425px;
}

@media screen and (max-width: 768px) {
	body {
		padding-top: 145px;
	}

	.navbar {
		position: fixed;
		top: 0;
		height: 60px;
		background-color: #0f1624;
		border-bottom: 1px solid #aaaaaa;
		padding: 0 25px;
		z-index: 2;
	}

	.navbar ul {
		position: fixed;
		top: 60px;
		right: -100%;
		height: calc(100vh - 60px);
		width: 100%;
		justify-content: space-evenly;
		flex-direction: column;
		background-color: #ffffff;
		transition: 0.5s ease;
	}

	.navbar ul li a {
		color: #000000;
	}

	.mobile-icon {
		display: block;
	}

	.header {
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
	}

	.header h1 {
		font-size: 2.5rem;
	}

	.header p {
		font-size: 1.125rem;
	}

	.header a {
		font-size: 1rem;
		padding: 10px 25px;
	}

	.header img {
		max-width: 300px;
		margin-bottom: 75px;
	}
}

@media screen and (max-width: 425px) {
	body {
		padding-top: 85px;
	}

	.header img {
		display: none;
	}
}

.navbar ul.active {
	right: 0;
}
